{% extends '_template.html.twig' %}

{% block title %}Kikiriki - Accueil{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="titre">Accueil - Kikiriki</h1>


    </div>

{% endblock %}
